# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: adf4a6344cd9020690db51f44e18d85acd0076049060bcbff9804be26d6f3378d3616632c64bf29d53dfc02181f1aaad624e321e9cb41ace9f6d764f64271b86

test:
  secret_key_base: 4e95e2df58273dfa77eee9b052ae7426dcd8855a40dfab3574b93bf893a8d4ef1dca2bab47befa2f65144e35cd6927e7b5fb457bb5fe5ed837fd8fa4f622b5d2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
